
.form-div{
    padding: 25px;
    border-radius: 5px;
    width: clamp(200px, 90%, 520px);
    background-color: white;
}
.header{
    position: unset;
}
.message-container{
    padding: 10px;
    text-align: center;
    color: white;
}

.edit-lesson-main{
    display: none;
    position: fixed;
    inset: 0;
    background-color: #2225;
}
main{
    background-color: var(--bg);
    display: grid;
    min-height: 100vh;
    padding: 10px;
    place-items: center;
}
#course-form{
    padding-block: 10px;
    display: grid;
    gap: 15px;    
}
#course-form div input, textarea, button{
    width: 90%;
    padding: 10px;
    resize: none;
    border-radius: 5px;
}
button{
    color: white;
    width: 95%;
}
input, textarea{
    border: 1px solid #ccc;
}
input:focus, textarea:focus{
    outline: 1px solid var(--btn);
}