{% include "layout.html" %} {% block content %}
<link rel="stylesheet" href="../static/styles/create-course.css" />
<main>
  {%if g.res_status_code%} {%if g.res_status_code != 201%}
  <div class="message-container" style="background-color: var(--danger)">
    <p clas="message">{{g.res_error}}</p>
  </div>
  {%else%}
  <div class="message-container" style="background-color: var(--success)">
    <p class="message">New quiz added.</p>
  </div>
  {%endif%} {%endif%}
  <div class="form-div">
    <h1 style='text-align: center'>Add Quiz</h1>
    <form
      action="{{url_for('create_quiz')}}"
      method="post"
      enctype="multipart/form-data"
      id="course-form"
    >
      <div>
        <label for="quiz_name">Quiz Name</label><br />
        <input type="text" name="quiz_name" id="course_name" required placeholder="Quiz name must ends with 'quiz'. e.g Python Quiz"/><br />
      </div>
      <div>
        <label for="description">Description</label><br />
        <textarea
          name="description"
          id="description"
          rows="8"
          required
        ></textarea
        ><br />
      </div>
      <div>
        <label for="quiz_image">Quiz Image</label><br />
        <input
          type="file"
          name="quiz_image"
          id="quiz_image"
          accept="image/png, jpg"
          required
        /><br />
      </div>
      <button type="submit" name="submit-new-quiz">Create</button>
    </form>
  </div>
</main>
<script>
  window.addEventListener("load", function () {
    $(".message").fadeOut(3000);
    $(".message-container").fadeOut(3000);
  });
</script>
{% endblock content %}
{% include "footer.html" %}
