{% include "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='styles/create-course.css')}}"
/>
<link rel="stylesheet" href="../static/styles/lesson-page.css" />
{%if g.res_status_code%} {%if g.res_status_code != 200%}
<div class="message-container" style="background-color: var(--danger)">
  <p id="message">{{g.res_error}}</p>
</div>
{%else%}
<div class="message-container" style="background-color: var(--success)">
  <p id="message">Lesson updated!</p>
</div>
{%endif%} {%endif%}

<main style="display: flex; flex-direction: column;">
  {%if g.course%}
  <div class="course-desc">
    <img 
    src="{%if g.course.course_image%} data:image/*;base64,{{g.course.course_image}}{%else%} ../static/images/logo.png {%endif%}" alt="{{course-image}}"
     alt="course-image" loading="lazy" />
    <div>
      <p style="font-size: 2em; margin-block: 0; font-weight: bold">
        {{g.course.course_name}}
      </p>
      <p style="margin-bottom: 0; color: grey">{{g.course.description}}</p>
    </div>
  </div>
{%if not g.lessons%}
 <p><em>No lessons</em></p>
{%endif%}
  {% if g.lessons%} {% for lesson in g.lessons %} {%if lesson.lesson%}
  <div class="lesson-container">
    {%if g.user_info.role == 'admin' %}
    <nav class="lesson-options">
      <a
        class="option-link edit-lesson-link">Edit</a
      >
      <a
        class="option-link delete-lesson-link"
        href="{{url_for('delete_lesson', course_name=g.course.course_name, lesson_id=lesson.id)}}"
        >Delete</a
      >
    </nav>
    <i class="fa fa-ellipsis-v"></i>
    {%endif%}
    <div class="lesson-cards" style="font-size: 1.5em; cursor: pointer">
      <div class="lesson-list">
        <i class="fa fa-tasks" style="color: var(--btn)"></i>
        <div>
          <small style="color: grey; font-size: 11px"
            >Lesson {{lesson.lesson_number}}</small
          >
          <p class="lesson">{{lesson.lesson}}</p>
        </div>
      </div>
      <p hidden class="lesson-detail">{{lesson.lesson_detail}}</p>
    </div>
  </div>
  {%endif%}
  <div class="lesson-div" hidden>
    <div class="inner-lesson-div">
      <div style="display: flex; gap: 30px; align-items: baseline;">
        <i
          class="fa fa-arrow-circle-left hide-lesson-div"
          style="font-size: 1.2em"
        ></i>
        <h2></h2>
      </div>
      <p class="lesson-detail-paragraph"></p>
    </div>
  </div>
  <!-- Edit lesson -->
  <main class="edit-lesson-main" style='z-index: 1'>
    <div class="form-div">
      <div style="display: flex; gap: 30px; align-items: baseline">
        <i class="fa fa-arrow-circle-left close-edit-modal"></i>
        <h1>Edit lesson</h1>
      </div>
      <form
        action="{{url_for('edit_lesson', course_name=g.course.course_name, lesson_id=lesson.id)}}"
        method="post"
        enctype="multipart/form-data"
        id="course-form"
      >
        <div>
          <label for="lesson">Lesson Title</label><br />
          <input
            type="text"
            name="lesson"
            id="lesson"
            value="{{lesson.lesson}}"
            required
          /><br />
        </div>
        <div>
          <label for="lesson_detail">Lesson Detail</label><br />
          <textarea name="lesson_detail" id="lesson_detail" rows="10" required>{{lesson.lesson_detail}}</textarea
          ><br />
        </div>
        <div>
          <label for="lesson_number">Lesson Number</label><br />
          <input
            type="number"
            name="lesson_number"
            id="lesson_number"
            required
            value="{{lesson.lesson_number}}"
          /><br />
        </div>
        <button type="submit" name="edit-lesson-submit">Save Change</button>
      </form>
    </div>
  </main>

  {% endfor %} {% endif %}

  <script async>
    window.addEventListener("load", () => {
      $(".delete-lesson-link").click(function (e) {
        confirm("Are your sure about deleting this lesson?")
          ? true
          : e.preventDefault();
      });

      $(".hide-lesson-div").click(() => {
        $(".lesson-div").toggle(400);
      });

      $.each($(".lesson-cards"), (idx, card) => {
        $(card).click(() => {
          $(".lesson-div h2").text(
            $(card)
              .children(".lesson-list")
              .children("div")
              .children(".lesson")
              .text()
          );
          $(".lesson-div p").text($(card).children(".lesson-detail").text());
          $(".lesson-div").toggle(400);
        });
      });

      $.each($(".fa-ellipsis-v"), (idx, val) => {
        $(val).click(() => {
          $($(".lesson-options")[idx]).toggle(400);
        });
      });
      $.each($(".lesson-options"), (idx, val) => {
      $($(val).children(".edit-lesson-link")).click(() => {
        $($(".edit-lesson-main")[idx]).toggle(500);
      });
    });
    $.each($(".close-edit-modal"), (idx, val) => {
      $(val).click(() => {
        $($(".edit-lesson-main")[idx]).toggle(500);
      });
    });
    });
  </script>
</main>
{%endif%} {% endblock content %} {% include "footer.html" %}
