{% include "layout.html" %} {% block content %}
<style>
  body {
    background: var(--bg);
  }
  .header {
    position: unset;
  }
  .current-course-div {
    display: grid;
    justify-content: center;
    padding-block: 70px;
  }
  .profile-div {
    min-heigh: 100vh;
    background-color: var(--bg-dark);
    padding: 45px;
    padding-block: 100px;
    border-radius: 100% / 0 0 100px 100px;
    display: flex;
    /* clip-path: polygon(
    0 0, 0 0%,
    0 90%, 50% 100%,
    100% 90%, 100% 100%,
    100% 0, 100% 0%
    ); */
    color: white;
    gap: 2em;
  }
  @media screen and (320px <= width < 620px) {
    .profile-div {
      flex-direction: column;
      gap: 0;
      text-align: center;
      align-items: center;
    }
  }
</style>
<div class="profile-div">
  <img 
  src="{%if g.user_info.image%} data:image/*;base64,{{g.user_info.image}}{%else%} ../static/images/logo.png {%endif%}"
  alt="{{g.user_info.image}}" width="100" height="100" 
  style="border-radius: 50%; outline-offset: 8px; outline: 1px var(--btn) solid;"
  />
  <div>
    <h2>{{g.user_info.username}}</h2>
    <p>
      {{g.user_info.bio}}
    </p>
    <p><span class='fi fi-{{g.user_info.country_code}}' style='margin-right: 10px'></span> {{g.user_info.country}}</p>
  </div>
</div>
{% endblock content %} {% include "footer.html" %}
